name: coghri_faces

services:
  eut_faces:
    container_name: "eut_faces"
    network_mode: host 
    ipc: host
    shm_size: 1gb
    runtime: ${DOCKER_RUNTIME:-runc}
    # user: "coghri"
    image: ${BUILT_IMAGE}
    privileged: true
    # user: "coghri"  # User will be created in the entrypoint script
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ~/.xauth_docker/share/:/tmp/xauth/
      - ./.vscode:/workspace/.vscode
      # Logs volume for easy access from VS Code
      - ./logs:/workspace/log
      #MAP DEPS if needed
      - ../face_detection:/workspace/src/face_detection
      - ../face_recognition:/workspace/src/face_recognition
      - ../gaze_estimation:/workspace/src/gaze_estimation
      - ../visual_speech_activity:/workspace/src/visual_speech_activity
      - ../Docker/deps/hri_msgs:/workspace/src/hri_msgs

    tty: true
    stdin_open: true
    environment:
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID:-0}    
      # - USER_ID=${USER_ID}
      # - GROUP_ID=${GROUP_ID}
      # - USERNAME=${USERNAME}
      - NVIDIA_VISIBLE_DEVICES=all 
      - DISPLAY=$DISPLAY
      - QT_X11_NO_MITSHM=1
      - XAUTHORITY=/tmp/xauth/.docker.xauth     
      # - ROS_DOMAIN_ID=${ROS_DOMAIN_ID}  
      # - PULSE_SERVER=unix:/run/user/${USER_ID}/pulse/native
      # - PULSE_COOKIE=/home/coghri/.config/pulse/cookie
      # - ALSA_CARD=${ALSA_CARD}  # Set to the card number for your speaker
    devices:
      - /dev/dri:/dev/dri
      - /dev/snd:/dev/snd
    # cap_add:
    #   - NET_RAW
    #   - NET_ADMIN
    # security_opt:
    #   - seccomp:unconfined
    command: bash -c "source /workspace/install/setup.bash && /bin/bash"
    # entrypoint: ["/entrypoint.sh"]
