name: coghri_faces_raspy

services:
  eut_face_detection:
    container_name: "eut_face_detection"
    network_mode: host 
    ipc: host
    shm_size: 1gb
    runtime: ${DOCKER_RUNTIME:-runc}
    image: ${BUILT_IMAGE}
    privileged: true
    # user: "root"  # User
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ~/.xauth_docker/share/:/tmp/xauth/
      - ./.vscode:/workspace/.vscode
      - ../face_detection:/workspace/src/face_detection
      - ../face_recognition:/workspace/src/face_recognition
      - ../gaze_estimation:/workspace/src/gaze_estimation
    tty: true
    stdin_open: true
    environment:
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID:-0}    
      - NVIDIA_VISIBLE_DEVICES=all 
      - DISPLAY=$DISPLAY
      - QT_X11_NO_MITSHM=1
      - XAUTHORITY=/tmp/xauth/.docker.xauth     
    devices:
      - /dev/dri:/dev/dri
      - /dev/snd:/dev/snd
    # Compressed image topic parameter added to launch
    command: bash -c "source /workspace/install/setup.bash && ros2 launch face_detection face_detection.launch.py compressed_topic:=/camera/image_raw/compressed"
    entrypoint: ["/entrypoint.sh"]
  
  eut_face_recognition:
    container_name: "eut_face_recognition"
    network_mode: host 
    ipc: host
    shm_size: 1gb
    runtime: ${DOCKER_RUNTIME:-runc}
    image: ${BUILT_IMAGE}
    privileged: true
    # user: "root"  # User
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ~/.xauth_docker/share/:/tmp/xauth/
      - ./.vscode:/workspace/.vscode
      - ../face_detection:/workspace/src/face_detection
      - ../face_recognition:/workspace/src/face_recognition
      - ../gaze_estimation:/workspace/src/gaze_estimation
    tty: true
    stdin_open: true
    environment:
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID:-0}    
      - NVIDIA_VISIBLE_DEVICES=all 
      - DISPLAY=$DISPLAY
      - QT_X11_NO_MITSHM=1
      - XAUTHORITY=/tmp/xauth/.docker.xauth     
    devices:
      - /dev/dri:/dev/dri
      - /dev/snd:/dev/snd
    # Compressed image topic parameter added to launch
    command: bash -c "source /workspace/install/setup.bash && ros2 launch face_recognition face_recognition.launch.py compressed_topic:=/camera/image_raw/compressed"
    # entrypoint: ["/entrypoint.sh"]

  eut_gaze_estimation:
    container_name: "eut_gaze_estimation"
    network_mode: host 
    ipc: host
    shm_size: 1gb
    runtime: ${DOCKER_RUNTIME:-runc}
    image: ${BUILT_IMAGE}
    privileged: true
    # user: "root"  # User
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ~/.xauth_docker/share/:/tmp/xauth/
      - ./.vscode:/workspace/.vscode
      - ../face_detection:/workspace/src/face_detection
      - ../face_recognition:/workspace/src/face_recognition
      - ../gaze_estimation:/workspace/src/gaze_estimation
    tty: true
    stdin_open: true
    environment:
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID:-0}    
      - NVIDIA_VISIBLE_DEVICES=all 
      - DISPLAY=$DISPLAY
      - QT_X11_NO_MITSHM=1
      - XAUTHORITY=/tmp/xauth/.docker.xauth     
    devices:
      - /dev/dri:/dev/dri
      - /dev/snd:/dev/snd
    # Compressed image topic parameter added to launch
    command: bash -c "source /workspace/install/setup.bash && ros2 launch gaze_estimation gaze_estimation.launch.py compressed_topic:=/camera/image_raw/compressed"
    # entrypoint: ["/entrypoint.sh"]